@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  margin-bottom: 160px;
}

#menu__checkbox {
  appearance: none;
  position: absolute;
}

.toggler {
  display: none;
}

.header__wrapper {
  width: 100%;
  padding: 22px 0;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}
.header__wrapper .brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__wrapper .brand .fa-bars {
  display: none;
}
.header__wrapper .brand .logo_none {
  display: none;
}
.header__wrapper .brand ul {
  gap: 32px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header__wrapper .brand ul img.logo {
  margin-right: 60px;
  display: block;
  cursor: pointer;
}
.header__wrapper .brand ul li a {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  text-decoration: none;
}

.btn {
  padding: 14px 39px;
  background: #fcb72b;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: rgb(190, 190, 19);
}

.hero_section {
  background-image: url(/images/hero_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 720px;
  color: #fff;
}
.hero_section .hero {
  padding: 200px 0 150px;
}
.hero_section .hero_heading {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  max-width: 500px;
  letter-spacing: -2.5px;
  color: #ffffff;
}
.hero_section .hero_content {
  position: relative;
}
.hero_section .hero_title {
  max-width: 520px;
  padding: 40px 57px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.hero_section .arrow {
  position: absolute;
  top: 50%;
  right: 150px;
}
.hero_section .line {
  left: -190px;
  top: 50%;
  position: absolute;
}
.hero_section .btn {
  margin: 40px 57px;
}

.share_flex {
  display: flex;
  gap: 30px;
}
.share_flex .share_card h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 40px 0 27px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.share_flex .share_card p {
  max-width: 350px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  color: #939caa;
}
.share_flex .share_card .share_card {
  text-align: none;
}
.share_flex .share_card .share_flex {
  display: block;
}

.circle_section {
  margin-top: 250px;
}
.circle_section .circle_flex {
  overflow: hidden;
  display: flex;
  margin: 140px 0;
  align-items: center;
  gap: 85px;
}

.circle_img {
  margin-left: -125px;
  width: 747px;
  height: 457px;
  object-fit: contain;
}

.img-2 {
  width: 445px;
  height: 445px;
  border-radius: 50%;
  object-fit: contain;
  position: relative;
}

.circle_content {
  min-width: 445px;
  margin: 30px 0;
}
.circle_content h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.circle_content p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  padding: 24px 0 40px;
}

.circle_flex {
  display: flex;
  margin: 150px 0;
}

.circle_content,
.circle-3 {
  max-width: 500px;
}

.circle_img {
  margin: 0;
}

@media (max-width: 767px) {
  .hero_section {
    background-image: url(/images/hero_image-mobile.png);
  }
  .header__wrapper {
    padding: 0;
    position: relative;
  }
  .header__wrapper .brand .fa-bars {
    display: block;
    margin-right: 100px;
  }
  .header__wrapper .brand .logo_none {
    display: block;
  }
  .header__wrapper .brand ul {
    display: none;
  }
  .header__wrapper .btn {
    visibility: hidden;
  }
  .toggler {
    display: block;
  }
  .hero_section .btn {
    margin-left: calc(50% - 80px);
  }
  .hero_section .hero_heading {
    font-size: 40px;
  }
  .hero_section .hero_heading,
  .hero_section .hero_title {
    max-width: none;
    text-align: center;
  }
  .hero_section .hero_title {
    padding: 25px 10px;
  }
  .hero_section .hero_content .line {
    display: none;
  }
  .hero_section .hero_content .arrow {
    top: 240px;
    left: -310px;
  }
  .btn {
    margin-left: calc(50% - 80px);
  }
  .share_card {
    text-align: center;
  }
  .share_flex {
    flex-direction: column;
  }
  .circle_section .circle_flex {
    margin: 0;
  }
  .circle-3 {
    margin: 0;
  }
  .img-2 {
    width: 311px;
    height: 311px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header {
    margin-bottom: 100px;
  }
  .container {
    padding: 0 20px;
  }
  .hero_section {
    background-image: url(/images/hero_image-tablet.jpg);
  }
  .hero_section .hero {
    text-align: center;
    padding: 150px 120px;
  }
  .hero_section .hero .hero_heading {
    max-width: none;
  }
  .hero_section .hero_title {
    padding: 24px 0 32px;
    max-width: none;
  }
  .hero_content .line {
    display: none;
  }
  .hero_content .arrow {
    left: -200px;
    top: 180px;
  }
  .share_flex {
    flex-direction: column;
    gap: 0;
  }
  .share_card {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: inherit;
  }
  .share_card p {
    min-width: 400px;
  }
  .circle_section .circle_flex {
    text-align: center;
  }
  .circle_section .circle-2 {
    flex-direction: column;
    text-align: center;
    min-width: 800px;
  }
  .circle_section .circle-3 {
    text-align: center;
    flex-direction: column-reverse;
    min-width: 800px;
  }
}/*# sourceMappingURL=style.css.map */