@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
body {
  height: 1000px;
}

header {
  margin: 0 !important;
}

.about {
  position: relative;
  top: 100px;
  background-image: url(/images/about_image.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.about h2 {
  padding: 72px 0;
  max-width: 1100px;
  margin: 0 auto;
  color: #fff;
  font-size: 50px;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
}

.values h2 {
  text-align: center;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.values_cards {
  display: flex;
  text-align: center;
  gap: 30px;
  justify-content: center;
}
.values_cards .values_card h3 {
  padding: 32px 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}
.values_cards .values_card p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}

.faqs {
  margin: 120px 0;
}

.faqs_flex {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.faqs_flex .left_card {
  width: 100%;
}
.faqs_flex .left_card h2 {
  padding: 80px 0;
  font-size: 45px;
}
.faqs_flex .right_cards {
  background: #fff;
}
.faqs_flex .right_cards #accodion {
  margin: 64px auto;
  min-width: 730px;
}
.faqs_flex .right_cards #accodion li {
  list-style-type: none;
  width: 100%;
  margin-bottom: 10px;
  background-color: #f2f5f9;
  padding: 10px;
  border-radius: 4px;
}
.faqs_flex .right_cards #accodion li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-size: 22px;
  text-align: left;
  color: #495567;
}
.faqs_flex .right_cards #accodion li label span {
  transform: rotate(90deg);
  font-size: 22px;
  color: #fcb72b;
}
.faqs_flex .right_cards .content {
  padding: 0 10px;
  overflow: hidden;
  transition: max-height 0.7s ease;
  max-height: 0;
  line-height: 26px;
}
.faqs_flex .right_cards .content p {
  color: #495567;
  text-align: left;
}
.faqs_flex .right_cards label + input[type=radio] {
  display: none;
}
.faqs_flex .right_cards label + input[type=radio]:checked + .content {
  max-height: 400px;
}

.faqs_title {
  text-align: center;
  font-size: 40px;
}

.about_img {
  background-image: url(/images/ab.png);
  display: block;
  min-width: 100%;
  height: 200px;
  position: relative;
  top: 100px;
}

@media (max-width: 767px) {
  .about_img {
    top: 0;
  }
  .circle_content,
  .circle-3 {
    max-width: none !important;
  }
  .values h2 {
    margin: 20px 0;
  }
  .values_cards {
    flex-direction: column;
  }
  .faqs_flex {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
  .faqs_flex .left_card .how {
    padding-top: 25px;
  }
  .faqs_flex .left_card h2 {
    padding: 0;
  }
  .faqs_flex .right_cards #accodion {
    min-width: 0;
  }
  .content p {
    color: #495567;
    text-align: left;
  }
}
@media (min-width: 750px) and (max-width: 826px) {
  .about h2 {
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about h2 {
    padding: 20px 76px;
  }
  .values_cards {
    flex-direction: column;
  }
  .values_cards .values_card {
    padding: 0 160px;
  }
  .faqs_flex {
    gap: 0;
    text-align: center;
    flex-direction: column;
  }
  .faqs_flex .left_card {
    padding: 0;
  }
  .faqs_flex .left_card .how {
    padding-top: 55px;
  }
  .faqs_flex .left_card h2 {
    padding: 0;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  margin-bottom: 160px;
}

#menu__checkbox {
  appearance: none;
  position: absolute;
}

.toggler {
  display: none;
}

.header__wrapper {
  width: 100%;
  padding: 22px 0;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}
.header__wrapper .brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__wrapper .brand .fa-bars {
  display: none;
}
.header__wrapper .brand .logo_none {
  display: none;
}
.header__wrapper .brand ul {
  gap: 32px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header__wrapper .brand ul img.logo {
  margin-right: 60px;
  display: block;
  cursor: pointer;
}
.header__wrapper .brand ul li a {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  transition: all 0.3s ease;
  text-decoration: none;
}
.header__wrapper .brand ul li a.active, .header__wrapper .brand ul li a:hover {
  color: #777;
}

.btn {
  padding: 14px 39px;
  background: #fcb72b;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: rgb(190, 190, 19);
}

.hero_section {
  background-image: url(/images/hero_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 720px;
  color: #fff;
}
.hero_section .hero {
  padding: 200px 0 150px;
}
.hero_section .hero_heading {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  max-width: 500px;
  letter-spacing: -2.5px;
  color: #ffffff;
}
.hero_section .hero_content {
  position: relative;
}
.hero_section .hero_title {
  max-width: 520px;
  padding: 40px 57px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.hero_section .arrow {
  position: absolute;
  top: 50%;
  right: 150px;
}
.hero_section .line {
  left: -190px;
  top: 50%;
  position: absolute;
}
.hero_section .btn {
  margin: 40px 57px;
}

.share_flex {
  display: flex;
  gap: 30px;
}
.share_flex .share_card {
  margin-top: 120px;
}
.share_flex .share_card h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 40px 0 27px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.share_flex .share_card p {
  max-width: 350px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  color: #939caa;
}
.share_flex .share_card .share_card {
  text-align: none;
}
.share_flex .share_card .share_flex {
  display: block;
}

.circle_section {
  margin-top: 250px;
  overflow: hidden;
}
.circle_section .circle_flex {
  display: flex;
  margin: 140px 0;
  align-items: center;
  gap: 85px;
}

.circle_img {
  margin-left: -125px;
  width: 747px;
  height: 457px;
  object-fit: contain;
}

.img-2 {
  width: 445px;
  height: 445px;
  border-radius: 50%;
  object-fit: contain;
  position: relative;
}

.circle_content {
  min-width: 445px;
  margin: 30px 0;
}
.circle_content h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.circle_content p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  font-size: 18px;
  padding: 24px 0 40px;
}

.circle_flex {
  display: flex;
  margin: 150px 0;
}

.circle_content,
.circle-3 {
  max-width: 500px;
}

.circle_img {
  margin: 0;
}

.mask {
  background-image: url(/images/Mask.png);
  background-size: cover;
  padding: 102px 0;
}

.mask_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mask_flex h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #ffffff;
  max-width: 415px;
}

footer {
  padding: 35px 0;
  background: #333a44;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_flex ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer_flex ul li.light_scott {
  margin-right: 58px;
}
.footer_flex ul a {
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
.footer_flex ul a:hover {
  color: #ffd;
}
.footer_flex .social {
  font-size: 24px;
}
.footer_flex .social .fa-brands {
  margin: 0 12px;
  color: #FCB72B;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer_flex .social .fa-brands:hover {
  color: #ddd;
}

@media (max-width: 767px) {
  .container {
    overflow: hidden;
  }
  .hero_section {
    background-image: url(/images/hero_image-mobile.png);
  }
  .header__wrapper {
    padding: 0;
    position: relative;
  }
  .header__wrapper .brand .fa-bars {
    display: block;
    margin-right: 100px;
  }
  .header__wrapper .brand .logo_none {
    display: block;
  }
  .header__wrapper .brand ul {
    display: none;
  }
  .header__wrapper .btn {
    visibility: hidden;
  }
  .toggler {
    display: block;
  }
  .hero_section .btn {
    margin-left: calc(50% - 80px);
  }
  .hero_section .hero_heading {
    font-size: 40px;
  }
  .hero_section .hero_heading,
  .hero_section .hero_title {
    max-width: none;
    text-align: center;
  }
  .hero_section .hero_title {
    padding: 25px 10px;
  }
  .hero_section .hero_content .line {
    display: none;
  }
  .hero_section .hero_content .arrow {
    top: 240px;
    left: -310px;
  }
  .share_card {
    text-align: center;
  }
  .share_flex {
    flex-direction: column;
  }
  .circle_section {
    margin-top: 0;
  }
  .circle_section .circle_flex {
    margin: 0;
    text-align: center;
    gap: 0;
    flex-direction: column;
    padding: 20px 0;
  }
  .circle_section .circle_flex .circle_content {
    padding: 24px 50px 40px;
  }
  .circle_section .circle_flex .circle_content h2 {
    font-size: 32px;
  }
  .circle_section .circle-3 {
    margin: 0;
    flex-direction: column-reverse;
  }
  .circle_img {
    height: 270px;
  }
  .circle_img img {
    width: 321px;
    height: 321px;
    object-fit: contain;
  }
  .circle_img .img-2 {
    width: 311px;
    height: 311px;
  }
  .mask_flex {
    flex-direction: column;
    text-align: center;
  }
  .mask_flex h2 {
    padding-bottom: 40px;
    font-size: 32px;
  }
  .mask_flex .store {
    display: flex;
  }
  .mask_flex .store img {
    width: 113px;
    object-fit: contain;
  }
  .footer_flex {
    flex-direction: column;
    text-align: center;
  }
  .footer_flex ul {
    display: block;
    padding: 41px 0 150px;
  }
  .footer_flex ul li {
    padding: 8px 0;
  }
  .footer_flex ul li.light_scott {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header {
    margin-bottom: 100px;
  }
  .container {
    padding: 0 20px;
  }
  .hero_section {
    background-image: url(/images/hero_image-tablet.jpg);
  }
  .hero_section .hero {
    text-align: center;
    padding: 150px 120px;
  }
  .hero_section .hero .hero_heading {
    max-width: none;
  }
  .hero_section .hero_title {
    padding: 24px 0 32px;
    max-width: none;
  }
  .hero_content .line {
    display: none;
  }
  .hero_content .arrow {
    left: -200px;
    top: 180px;
  }
  .share_flex {
    flex-direction: column;
    gap: 0;
  }
  .share_card {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: inherit;
  }
  .share_card p {
    min-width: 400px;
  }
  .circle_section .circle_flex {
    text-align: center;
  }
  .circle_section .circle-2 {
    flex-direction: column;
    text-align: center;
    min-width: 800px;
  }
  .circle_section .circle-3 {
    margin: 0;
    text-align: center;
    flex-direction: column-reverse;
    min-width: 800px;
  }
  .mask_flex {
    text-align: center;
    flex-direction: column;
  }
  .mask_flex h2 {
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */