@import "../variables/variables";
@import "../fonts/fonts";

body {
  height: 1000px;
}
header {
  margin: 0 !important;
}
.about {
  position: relative;
  top: 100px;
  background-image: url(/images/about_image.png);
  background-repeat: no-repeat;
  background-size: contain;

  h2 {
    padding: 72px 0;
    max-width: 1100px;
    margin: 0 auto;
    color: #fff;
    font-size: 50px;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
  }
}
.values {
  h2 {
    text-align: center;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
  }
}
.values_cards {
  display: flex;
  text-align: center;
  gap: 30px;
  justify-content: center;
  .values_card {
    h3 {
      padding: 32px 0;
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -1.07143px;
      color: #495567;
    }
    p {
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #939caa;
    }
  }
}

.faqs {
  margin: 120px 0;
}
.faqs_flex {
  display: flex;
  align-items: stretch;
  gap: 200px;
  justify-content: space-around;
  .left_card {
    width: 100%;
    h2 {
      padding: 80px 0;
    }
  }
  .right_cards {
    background: #fff;
    #accodion {
      margin: 64px auto;
      min-width: 730px;
      li {
        list-style-type: none;
        width: 100%;
        margin-bottom: 10px;
        background-color: #f2f5f9;
        padding: 10px;
        border-radius: 4px;
        label {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
          text-align: left;
          color: #495567;
          span {
            transform: rotate(90deg);
            font-size: 22px;
            color: #fcb72b;
          }
        }
      }
    }
    .content {
      padding: 0 10px;
      overflow: hidden;
      transition: max-height 0.7s ease;
      max-height: 0;
      line-height: 26px;
      p{
        color: #495567;
        text-align: left;
      }
    }
    label {
      & + input[type="radio"] {
        display: none;
        &:checked + .content {
          max-height: 400px;
        }
      }
    }
  }
}

.faqs_title {
  text-align: center;
}

@media (max-width: 767px) {
  .about {
    top: 0;
    text-align: center;
    h2 {
      padding: 0;
      font-size: 37px;
      left: -75px;
      position: relative;
    }
  }
  .circle_content,
  .circle-3 {
    max-width: none !important;
  }
  .values h2 {
    margin: 20px 0;
  }
  .values_cards {
    flex-direction: column;
  }
  .faqs_flex {
    flex-direction: column;
    gap: 0;
    text-align: center;
    .left_card {
      .how {
        padding-top: 25px;
      }
      h2 {
        padding: 0;
      }
    }
  }
  .faqs_flex .right_cards 
  #accodion {
    min-width: 0;
  }
  .content p {
    color: #495567;
    text-align: left;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    h2 {
      padding: 20px 76px;
    }
  }
  .values_cards {
    flex-direction: column;
    .values_card {
      padding: 0 160px;
    }
  }
  .faqs_flex {
    gap: 0;
    text-align: center;
    flex-direction: column;
  .left_card {
    padding: 0;
    .how {
      padding-top: 55px;
    }
    h2 {
      padding: 0;
    }
  }
  }
}
